@use "../shared.scss" as *;

.historial-row {

    .list__table-body-row-info {
        border: 1px solid #000000;
        
        .list__table-body-row-info-historial {
            
            .list__table-body-row-info-content {
                color: #000000;
                text-align: right;
                font-size: .7rem;
            }
        }
    }
}