@use "../shared.scss" as *;

.list {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 1rem 1rem;
    box-sizing: border-box;
    
    .list__logo {
        width: 30%;
        .list__logo-img {
            width: 100%;
            border-radius: 20px;

            /*Diseño para telefonos*/
            @include phone {
                width: 0;
            }
        }
    }

    .list__table {
        width: 100%;
    }

    /*Diseño para tablets*/
    @include tablet {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        margin: 0 1rem;
    }

    /*Diseño para telefonos*/
    @include phone {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        margin: 0 1rem;
    }
}