@use "../../assets/styles/shared" as *;

.main {
    .slogan {
        .slogan__title {
            background-color: $coloClaro;
            text-align: center;
            text-shadow: 1px 1px 1px #000000;
            font-size: 3em;
            margin: 15px 15px;
            border-radius: 10px;
        }
        @include tablet {
            font-size: .6em;
        }
        @include phone {
            font-size: .3em;
        }
    }

    .barra {
        background-color: #ff0000;

        .barra__text {
            color: #ff0000;
            margin: 1rem 0;
            padding: .8rem 0;
        }
    }

    .introduction {
        display: flex;
        justify-content: space-around;
        margin: 1rem 1rem;
        gap: 10px;
        align-items: flex-start;

        .carousel__varios {
        position: relative;
        width: 100%;
        max-width: 52vw;
        overflow: hidden;
        border-radius: 10px;

            .carousel__container {
                display: flex;
                transition: transform 0.5s ease-in-out;
                width: 100%;
            }

            .carousel__slide {
                min-width: 100%;
                display: none;

                &.active {
                display: block;
                }

                .carousel__slide-img {
                    width: 100%;
                    display: block;
                }
            }

            .carousel__btn {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                background-color: rgba(0, 0, 0, 0.4);
                border: none;
                color: white;
                font-size: 2rem;
                padding: 0.5rem;
                cursor: pointer;
                z-index: 10;

                &:hover {
                    opacity: 0.5;
                }
            }

            .prev {
                left: 10px;
            }

            .next {
                right: 10px;
            }
            
            @include tablet {
                max-width: 94vw;
            }
            @include phone {
                max-width: 100vw;
            }
        }

        .video {
            border: none;
            text-align: center;
            .video__media {
                width: 100%;
                border-radius: 20px;
            }

            .video__text {
                @include fontNoche;
                margin-top: 2rem;
                font-size: 2rem;
                text-align: center;
                font-weight: 700;

                /*Diseño para telefonos*/
                @include phone {
                    font-size: 1rem;
                    margin: 0;
                }
            }

            .video__img {
                width: 10%;
            }
        }

        /*Diseño para tablets*/
        @include tablet {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        /*Diseño para telefonos*/
        @include phone {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}